.env
hopekcc-firebase-adminsdk-ckk0v-d2aead7d4f.json
hopekcc-71eec30cad94.json
*.pyc
__pycache__/
backend/api/__pycache__/admin.cpython-312.pyc
backend/api/__pycache__/apps.cpython-312.pyc
backend/api/__pycache__/forms.cpython-312.pyc
backend/api/__pycache__/models.cpython-312.pyc
backend/api/__pycache__/urls.cpython-312.pyc
backend/api/__pycache__/views.cpython-312.pyc
backend/api/migrations/__pycache__/__init__.cpython-312.pyc
backend/api/migrations/__pycache__/0001_initial.cpython-312.pyc
backend/api/migrations/__pycache__/0002_alter_file_file_url.cpython-312.pyc
backend/api/migrations/__pycache__/0003_alter_file_file_url.cpython-312.pyc
backend/backend/__pycache__/__init__.cpython-312.pyc
backend/backend/__pycache__/settings.cpython-312.pyc
backend/backend/__pycache__/urls.cpython-312.pyc
backend/backend/__pycache__/wsgi.cpython-312.pyc
*.pyc
/backend/backend/__pycache__
/backend/api/__pycache__
backend/api/__pycache__/admin.cpython-312.pyc
backend/api/__pycache__/apps.cpython-312.pyc
backend/api/__pycache__/forms.cpython-312.pyc
backend/api/__pycache__/models.cpython-312.pyc
backend/api/__pycache__/urls.cpython-312.pyc
backend/api/__pycache__/views.cpython-312.pyc
backend/api/migrations/__pycache__/__init__.cpython-312.pyc
backend/api/migrations/__pycache__/0001_initial.cpython-312.pyc
backend/api/migrations/__pycache__/0002_alter_file_file_url.cpython-312.pyc
backend/api/migrations/__pycache__/0003_alter_file_file_url.cpython-312.pyc
backend/backend/__pycache__/__init__.cpython-312.pyc
backend/backend/__pycache__/settings.cpython-312.pyc
backend/backend/__pycache__/urls.cpython-312.pyc
